.userProfile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  color: black;
  min-width: 300px;
  padding: 50px;
  position: relative;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
}
.userProfile-personalInfo__logout {
  position: absolute;
  top: 0;
  right: 0;
}
.userProfile-menu {
  display: flex;
}
.userProfile-menu button.active {
  background-color: green;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.userProfile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure overlay is above other content */
}

.userProfile-overlay-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.userProfile-overlay-content h2 {
  margin: 0 0 10px;
}

.userProfile-overlay-content button {
  margin-top: 10px;
}
