<<<<<<< HEAD
.profile--wrapper {
  background-color: white;
  color: black;
}

.profile--wrapper .profile--menu button {
  background-color: black;
  color: white;
}

.profile--wrapper .profile--menu button.profile--active {
  background-color: green;
  color: white;
=======
.userProfile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  color: black;
  min-width: 300px;
  padding: 50px;
  position: relative;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
}
.userProfile-personalInfo__logout {
  position: absolute;
  top: 0;
  right: 0;
}
.userProfile-menu {
  display: flex;
}
.userProfile-menu button.active {
  background-color: green;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
>>>>>>> main
}
